<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/" routerDirection="backward"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">

      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="headeardiv">



</div>

 <div class="hover">


  <div>
    <img src="assets/iconmonstr-location-21-240.png" alt="" srcset="">
  </div>
  <h5> Contact </h5>
  <p>
     Do not hesitate to contact us at any time.

    <ion-button expand="block" (click)="call()">Call us</ion-button>
  </p>




</div>


<div class="text">
  <p>Office Address</p>

  <ion-card>

<ion-card-content>
  <img src="assets/low-poly-grid-haikei (2).png" alt="" srcset="">

  <div class="ad">



    <ion-icon name="locate" slot="start"></ion-icon>
   No 12 Akwete Street,
  New Haven Enugu State, Nigeria</div>

</ion-card-content>




</ion-card>


</div>
</ion-content>
