<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/" routerDirection="backward"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">

      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="headeardiv">
    <img src="assets/low-poly-grid-haikei.png" alt="" srcset="">


</div>

 <div class="hover">
  <div>
    <img src="assets/—Pngtree—balance court judge justice law_4968804.png" alt="" srcset="">
  </div>
  <h5>Hon Alex Amujiogu & Co</h5>
  <p>
     Chambers
  </p>

</div>

<div class="text">
  <p>About App</p>
  <p>Our goal is to always help our clients get Justice. Whatever your case entails, we take a personal approach to each case, providing tailored legal advice to assist you.</p>
  <p>This app was developed as part of our commitment as a Law firm to evolve and Innovate.
   </p>
<p>
  We are committed to providing seamless legal services to our International and Local clients online, through this mobile app.
</p>
</div>
</ion-content>
